{% extends "web/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
  Crear Presupuesto
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'web/styles/crear_cliente.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% block main %}
<div class="container">
  <h1>Presupuesto para orden nro.{{ orden.id }}</h1>
  <h5>Cliente: <a href="{% url 'detalle_cliente' orden.cliente.id %}">
    {% if orden.cliente.empresa %}
      {{ orden.cliente.razon_social }}<br>
    {% else %}
      {{ orden.cliente.nombre }} {{ orden.cliente.apellido }}
    {% endif %}
  </a></h5>
  <h5>Maquina: {{orden.maquina}}</h5>
  <form method="post">
    {% csrf_token %}
    
    <div class="col-md-6">
        <h4>Detalles</h4>
        <div class="form-group">
          {{ form.descripcion.label_tag }}
          {{ form.descripcion|add_class:"form-control" }}
        </div>
        <div class="form-group">
          {{ form.total.label_tag }}
          {{ form.total|add_class:"form-control" }} 
        </div>
        <button type="submit" class="btn btn-primary">Crear Presupuesto</button>
      </div>
    </div>
   
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
