{% extends "web/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
Detalle Presupuesto
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/detalle_presupuesto.css' %}" />
{% endblock %}

{% block main %}
<div class="container w-50">
    <div class="col1">
        <div class="cliente">
            <div>
                <h5>Cliente</h5>
                {% if cliente.empresa %} 
                <h4>{{ cliente.razon_social }}</h4>
                <h4>{{ cliente.cuit }}</h4>
                <h4>{{ cliente.contacto }}</h4>
                {% else %}
                <h4>{{ cliente.nombre }}</h4>
                {% if cliente.dni %}
                <h5>CUIL</h5>
                <h4>{{ cliente.dni }}</h4>
                {% endif %}

                {% endif %}
            </div>
            <div>
                <h5>Condicion Iva</h5>
                <h4>{{ cliente.condicion_iva }}</h4>
            </div>
            <div>
                <h5>Tipo de cliente</h5>
                <h4>{{ cliente.tipo_cliente }}</h4>
            </div>
        
            <div>
                <h5>Telefono</h5>
                <h4>{{cliente.telefono}}</h4>
            </div>
            {% if cliente.telefono_alternativo %}
            <div>
                <h5>Telefono Alternativo</h5>
                <h4>{{cliente.telefono_alternativo}}</h4>
            </div>
            {% endif %}
            <div>        
                <h5>Direccion</h5>
                <h4>{{cliente.direccion}}</h4>
                <h4>{{cliente.localidad}} - {{cliente.codigo_postal}}</h4>
            </div>
            <div>
                <h5>Email</h5>
                <h4><a href="mailto:{{object.cliente.email}}">{{cliente.email}}</a></h4>
            </div>

    </div>

    <div class="maquina">
        <div>
            <h5>Categoria</h5>
            <h4>{{maquina.categoria}}</h4>        
        </div>

        <div>
            <h5>Subcategoria</h5>
            <h4>{{maquina.subcategoria}}</h4>
        </div>

        <div>
            <h5>Modelo</h5>
            <h4>{{maquina.modelo}}</h4>
        </div>

        <div>
            <h5>Serie</h5>
            <h4>{{maquina.serie}}</h4>
        </div>

        <div>
            <h5>Accesorios</h5>  
        {% if accesorios %}
            <ul>
                {% for accesorio in accesorios %}
                    <li>{{ accesorio }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay accesorios</p>
        {% endif %}     
        </div>

        <div>
            <h5>Garantía</h5>
            <h4>{{ maquina.garantia|yesno:"Sí,No" }}</h4>
        </div>

        <div>
            <h5>Notas de la orden</h5>
            <h4>{{ orden.notas }}</h4>
        </div>

    </div>

    </div>

    <div class="col2">  

    <div class="row1">
        <div class="estado">
            <h5>La orden  {{ object.id }} está</h5>  
            <h2>{{ ultimo_historial_estado.estado|capfirst }}</h2>
            <h5>al {{ ultimo_historial_estado.fecha_cambio|date:"d/m/Y" }}</h5>
            <hr>
        </div>
    </div>  

    <div class="row2">
    <h3 class="heading">Presupuesto</h3>
<div class="presupuesto">
    <table class="table table-hover table-sm p-2" id="tabla-presupuesto">
        <tr>
            <th>Fecha de Creación</th>
            <td>{{ object.fecha_creacion }}</td>
        </tr>

        {% if object.aprobado %}
        <tr>
            <th>Fecha de Aprobación</th>
            <td>{{ object.fecha_aprobacion }}</td>
        </tr>
        {% endif %}

        {% if object.rechazado %}
        <tr>
            <th>Fecha de Rechazo</th>
            <td>{{ object.fecha_rechazo }}</td>
        </tr>
        {% endif %}

        {% if not object.rechazado and not object.aprobado %}
        <tr>
            <th>Estado</th>
            <td>Pendiente de aprobación o rechazo</td>
        </tr>
        {% endif %}

        <tr>
            <th>Descripción del Presupuesto</th>
            <td>{{ object.descripcion }}</td>
        </tr>

        {% if object.nota_interna %}
        <tr>
            <th>Nota Interna</th>
            <td>{{ object.nota_interna }}</td>
        </tr>
        {% endif %}

        {% if repuestos %}
        <tr>
            <td colspan="2">
                <table class="table table-bordered text-center">
                    <!-- Título "Repuestos" en el head -->
                    <thead>
                        <tr>
                            <th scope="col" colspan="5" class="p-2 text-center">Repuestos</th>
                        </tr>
                        <tr>
                            <th scope="col" class="p-2">Código</th>
                            <th scope="col" class="p-2">Nombre</th>
                            <th scope="col" class="p-2">Precio</th>
                            <th scope="col" class="p-2">Cantidad</th>
                            <th scope="col" class="p-2">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for repuesto_presupuesto in repuestos %}
                        <tr>
                            <td class="p-2">{{ repuesto_presupuesto.repuesto.id }}</td>
                            <td class="p-2">{{ repuesto_presupuesto.repuesto.nombre }}</td>
                            <td class="p-2">{{ repuesto_presupuesto.repuesto.precio }}$</td>
                            <td class="p-2">{{ repuesto_presupuesto.cantidad }}</td>
                            <td class="p-2">{{ repuesto_presupuesto.costo_total_repuesto }}$</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!-- Pie de la tabla de repuestos, sin bordes -->
                    <tfoot>
                        <tr>
                            <td colspan="4" class="p-2 text-end" style="border-top: none;">Total</td>
                            <td class="p-2 text-end" style="border-top: none;">{{ total_repuestos }}$</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2" class="text-center">No hay repuestos asociados a este presupuesto.</td>
        </tr>
        {% endif %}

        <tr>
            <th>Total del Presupuesto</th>
            <td>{{ object.total_estimado }}$</td>
        </tr>
    </table>
</div>

    <div class="botones">
        <a href="{% url 'mandar_mail_presupuesto' object.id %}" class="btn btn-formulario">mandar mail</a>
        <a href="{% url 'editar_presupuesto' object.id %}" class="btn btn-formulario">Editar</a>    
    </div>

    </div>

    </div>

</div>
{% endblock %}
