{% extends "web/base.html" %}
{% load static %}

{% block titulo %}
Listado de Clientes
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/lista_clientes.css' %}" />
{% endblock %}

{% block main %}
<div class="container-fluid px-4 px-lg-5 mt-5">
  <h1 class="py-2">Lista de Clientes</h1>
  <div class="d-flex justify-content-between">
    <div class="my-3">
      <form action="{% url 'buscar_cliente_results' %}" method="get" class="d-flex" role="search">
        <input class="form-control me-2" type="text" placeholder="buscar cliente..." name="q" />
        <button class="btn btn-formulario" type="submit">
          Buscar
        </button>
      </form>
    </div>
    <div class="my-3">
      <a href="{% url 'crear_cliente' %}" class="btn btn-formulario mb-2">Nuevo
        Cliente</a>
    </div>
  </div>

  <table class="table table-hover table-striped table-sm" style="table-layout: auto; word-wrap: break-word;">

    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Razon Social</th>
        <th>Contacto</th>
        <th>CUIT</th>
        <th>DNI</th>
        <th>Tipo</th>
        <th>Iva</th>
        <th>Teléfono</th>
        <th>Teléfono Alt.</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in page_obj %}
      <tr>
        <td><a href="{% url 'detalle_cliente' cliente.id %}">{{ cliente.id }}</a></td>
        <td>{{ cliente.nombre }}</td>
        <td>{% if cliente.empresa %}{{ cliente.razon_social }}{% else %}---{% endif %}</td>
        <td>{% if cliente.contacto %}{{ cliente.contacto }}{% else %}---{% endif %}</td>
        <td>{% if cliente.cuit %}{{ cliente.cuit }}{% else %}---{% endif %}</td>
        <td>{% if cliente.dni %}{{ cliente.dni }}{% else %}---{% endif %}</td>
        <td>{{ cliente.tipo_cliente }}</td>
        <td>{{ cliente.condicion_iva }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{% if cliente.telefono_alternativo %}{{ cliente.telefono_alternativo }}{% else %}---{% endif %}</td>
        <td><a href="mailto:{{ cliente.email }}">{{ cliente.email }}</a></td>
        <td>
          <a href="{% url 'editar_cliente' cliente.id %}">
            <i class="fa-solid fa-pen-to-square btn-editar"></i>
          </a>
          <form action="{% url 'eliminar_cliente' cliente.id %}" method="get" style="display: inline">
            {% csrf_token %}
            <button type="submit" class="btn-eliminar">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No hay clientes disponibles.</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>


  <nav class='py-3' aria-label="Paginación de clientes">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
      {% endif %}

      {# Calcula el rango dinámico de páginas que se mostrarán #}
      {% for num in page_obj.paginator.page_range %}
      {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %} <li
        class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Siguiente</a>
        </li>
        {% endif %}
    </ul>
  </nav>


  {% endblock %}
  {% block extra_js %}

  {% endblock %}