{% extends "web/base.html" %}
{% load static %}

{% block titulo %}
Listado de Órdenes de Reparación
{% endblock %}

{% block extra_css %}
 <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'web/styles/dashboard.css' %}"
    />
  <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'web/styles/index_styles.css' %}"
    /> 
{% endblock %}

{% block main %}
<div class="container-fluid px-4">
  <h1>Lista de Órdenes de Reparación</h1>
  <a href="{% url 'crear_orden' %}" class="btn btn-primary my-3">Nueva Orden</a>
 
    <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#"  data-estado="todas">Todas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"   data-estado="ingresada">Ingresadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  data-estado="presupuestada">Presupuestadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  data-estado="aceptada">A reparar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-estado="rechazada">Rechazadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-estado="entregada">Entregadas</a>
            </li>
        </ul>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha ingreso</th>
        <th>Cliente</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Modelo</th>
        <th>Serie</th>
        <th>Accesorios</th>
        <th>Garantía</th>
        <th>Falla</th>
        <th>Fecha Estado</th>
        <th>Estado</th>
        <th>Acciones</th>
        <th>{%if orden_info.ultimo_estado != 'ingresada'%} Presupuesto {% endif %}</th>
      </tr>
    </thead>
    <tbody class="tabla-ordenes-body">
      {% for orden_info in ordenes_info %}
      <tr>
        <td> <a href="{% url 'detalle_orden' orden_info.orden.id %}">{{ orden_info.orden.id }}</a></td>
        <td>{{ orden_info.orden.fecha_ingreso|date:"d/m/Y" }}</td>
        <td>
          <a href="{% url 'detalle_cliente' orden_info.cliente.id %}">
            {{ orden_info.cliente.nombre }} {{ orden_info.cliente.apellido }}
            {% if orden_info.cliente.empresa %}
            <br>{{ orden_info.cliente.razon_social }}
            {% endif %}
          </a>
        </td>
        <td>{{ orden_info.maquina.categoria.nombre }}</td>
        <td>{{ orden_info.maquina.subcategoria.nombre }}</td>
        <td>{{ orden_info.maquina.modelo.nombre }}</td>
        <td>{{ orden_info.maquina.serie }}</td>
        <td>
          {% for accesorio in orden_info.accesorios %}
            {{ accesorio.nombre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>{{ orden_info.maquina.garantia|yesno:"Sí,No" }}</td>
        <td>{{ orden_info.maquina.falla }}</td>
        <td>{{ orden_info.fecha_ultimo_estado|date:"d/m/Y" }}</td>
        <td>
            {% if orden_info.ultimo_estado == 'ingresada' %}
              <span class="badge ingresada">Dada de alta</span>
            {% elif orden_info.ultimo_estado == 'presupuestada' %}
              <span class="badge presupuestada">Presupuestada</span>
            {% elif orden_info.ultimo_estado == 'aceptada' %}  
              <span class="badge aceptada">Aceptada</span>
            {% elif orden_info.ultimo_estado == 'rechazada' %}  
              <span class="badge rechazada">Rechazada</span>
            {% elif orden_info.ultimo_estado == 'reparada' %}  
              <span class="badge reparada">Reparada</span>
            {% elif orden_info.ultimo_estado == 'entregada' %}  
              <span class="badge entregada">Entregada</span>
            {% endif %}  
        </td>
        <td>
            {% if orden_info.ultimo_estado == 'ingresada' %}
                <a href="{% url 'presupuestar_orden' orden_info.orden.id %}"><button class="btn btn-tbl presupuestar">Presupuestar</button></a>
            {% elif orden_info.ultimo_estado == 'presupuestada' %}
                <a href="{% url 'aceptar_presupuesto' orden_info.presupuesto_uuid %}"><button class="btn btn-tbl aceptada">Aceptar Presupuesto</button></a>
                <a href="{% url 'rechazar_presupuesto' orden_info.presupuesto_uuid %}"><button class="btn btn-tbl rechazada">Rechazar Presupuesto</button></a>
            {% elif orden_info.ultimo_estado == 'aceptada' %}
                <a href="{% url 'reparar_orden' orden_info.orden.id %}"><button class="btn btn-tbl reparada">Reparar</button></a>
            {% elif orden_info.ultimo_estado == 'reparada' or orden_info.ultimo_estado == 'rechazada' %}
                <a href="{% url 'entregar_orden' orden_info.orden.id %}"><button class="btn btn-tbl entregada">Para entregar</button></a>
            {% endif %}
            </td>
            <td>{% if orden_info.ultimo_estado != 'ingresada' and orden_info.presupuesto_id %}
                    <a href="{% url 'detalle_presupuesto' orden_info.presupuesto_id %}"><i class="fa-solid fa-file-pen"></i></a>
                {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
{% endblock %}

{% block extra_js %}
      <script type="text/javascript">
          const urls = {
              detalle_orden: "{% url 'detalle_orden' 0 %}".replace('/0/', '/'),
              detalle_cliente: "{% url 'detalle_cliente' 0 %}".replace('/0/', '/'),
              presupuestar_orden: "{% url 'presupuestar_orden' 0 %}".replace('/0/', '/'),
              aceptar_presupuesto: "{% url 'aceptar_presupuesto' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', ''),
              rechazar_presupuesto: "{% url 'rechazar_presupuesto' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', ''),
              reparar_orden: "{% url 'reparar_orden' 0 %}".replace('/0/', '/'),
              entregar_orden: "{% url 'entregar_orden' 0 %}".replace('/0/', '/'),
              detalle_presupuesto: "{% url 'detalle_presupuesto' 0 %}".replace('/0/', '/')
          };
      </script>
      <script src="{% static 'web/js/barraTablaestado.js' %}"></script>
{% endblock %}