#repuestos .select2-container .select2-selection--single {
    height: calc(3.5rem + 2px); /* Ajusta la altura */
    padding: 0.7rem 0.75rem 0; /* Ajusta el padding */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Ajustar el placeholder del select2 */
#repuestos .select2-container .select2-selection__rendered {
    line-height: 1.5;
   /* padding-left: 0.75rem;*/
    font-size: 1rem;
    color: #6c757d; /* Placeholder en gris */
}

#repuesto .select2-selection--single .select2-selection__arrow {
    height: calc(3.5rem + 2px);
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}


/* Estilo general para el contenedor Select2 del campo cliente */

.cliente-select-container .select2-selection--single {
    height: calc(3.5rem + 2px);
    padding: 1.25rem 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
}

/* Estilo del placeholder */
.cliente-select-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    padding-left: 0.75rem;
    font-size: 1rem;
    position: absolute;
    top: 1.5rem;
    left: 0rem;
    transition: all 0.2s ease-in-out;
}

/* Estilo de la opción seleccionada */
.cliente-select-container .select2-selection--single .select2-selection__rendered--selected {
    font-size: 1rem;
    position: absolute;
    top: 1.25rem;
    left: 0.75rem;
}

/* Flecha del dropdown centrada verticalmente */
.cliente-select-container .select2-selection--single .select2-selection__arrow {
    height: calc(3.5rem + 2px);
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.cliente-select-container .select2-selection--open .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

/* Estilo general para el contenedor Select2 del campo accesorios */
.accesorios-select-container .select2-selection--multiple {
    height: calc(6.5rem + 2px);
    padding: 1.25rem 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
}

/* Estilo del placeholder */
.accesorios-select-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 1.5;
    padding-left: 0.75rem;
    font-size: 1rem;
    position: absolute;
    top: 2.5rem;
    left: 0rem;
    transition: all 0.2s ease-in-out;
}

/* Estilo de las opciones seleccionadas */
/* .accesorios-select-container .select2-selection--multiple .select2-selection__choice {
    font-size: 1rem;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    display: inline-block;
    position: relative;
    top: 1.5rem;
} */

/* Flecha del dropdown centrada verticalmente */
/* .accesorios-select-container .select2-selection--multiple .select2-selection__arrow {
    height: calc(3.5rem + 2px);
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
} */

/* .accesorios-select-container .select2-selection--open .select2-selection--multiple .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
} */