
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
    font-family: 'Poppins', serif;
}

#main-section-container {
    background-color: #ffecec; 
   
}

.container {
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    margin: auto;
}

.col1 {
    background-color: #fff;
    padding: 1em;
    border-right: 1px solid var(--color-linea);
}

.cliente, .maquina {
    border-bottom: 1px solid var(--color-linea);
}

.maquina {
    padding-top: 1em;
}

.cliente div, .maquina div {
    margin-bottom: 1.5em;
}

.cliente div h5, .maquina div h5 {
    color: var(--color-boton-login);
    font-weight: 900;
    font-size: 0.75em;
}

.cliente div h4, .maquina div h4 {
    color: var(--color-boton-login);
    font-size: 1em;
}

#main-section-container > div > div.col1 > div.cliente > div > h4 > a{
    color:rgb(0,196,233);
}

.col2 {
    display: grid;
    grid-template-rows: 19% 1fr;
}

.row1 {
    display: flex;
    background-color: #fff;
}

.estado {
    padding: 1em 2em 2em 2em;
    width: 100%;
}

.estado h2 {
    font-weight: 650;
    font-size: 3em;
    color: var(--bs-gray-700);
}

.estado h5 {
    color: var(--color-boton-login);
    font-weight: 800;
    font-size: 1em;
}

.row2  {
    background-color: white;
}
.presupuesto{
    padding:1em;
}
#tabla-presupuesto > tbody > tr > th{
    color:  var(--color-boton-login);
    font-weight: 400;
}
#tabla-presupuesto > tbody > tr > th.total{
    font-weight: 700;
}
.container .heading {
    font-size: 1.5em;
    color: var(--color-boton-login);
    font-weight: 600;
    padding: 0em 1em;
    margin-top:1em;
}
div.botones{
    padding:1em;
}
div.botones a {
    margin-right:0.5em;
}